.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.bg{
    background-image: url('./images/backg1.png');
        background-size: cover;
}


.content {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 400px;
}

h1 {
    text-align: left;
    color: #000000;
    margin-bottom: 0;
    width: 350px;
}
h1 span{
    color: #1572D3;
    
}
h3{
    margin-top: 0;
    font-weight: 100;
    font-size: 18px;
    color: #484848;
}
.opener-button{
    width: 115px;
    height: 45px;
    margin-right: 20px;
    border: none;
    background-color: #000000;
    border-radius: 5px;
}
.openingcar {
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translate(0, -50%);
}

.openingcar img {
    width: 900px;
    /* Adjust size as needed */
    height: auto;
}
.bottom-box {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 50px;
    background-color: #fafafa;
    box-shadow: -4px 4px 5px #1571d32a;
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-right: 10px;
}

.column {
    flex: 1;
    color: #181818;
    padding-left: 10px;
    margin-bottom: 0;
}
.column h2{
    font-size: 10px;
    color: #484848;
    font-weight: 100;
    margin-top: -2px;
    margin-bottom: 0;
}
.column p{
    margin: 0;
}
.search-button {
    background-color: #1571d3;
    color: #ffffff;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
}
.location-container {
    display: flex;
    align-items: center;
}

.location-marker {
    margin-right: 10px;
    /* Adjust as needed */
}

.location-info {
    display: flex;
    flex-direction: column;
}
.home-icon{
    font-size: 25px;
    margin-top: 10px;
}
.our-steps{
    background-color: white;
    width: 100%;
    height: fit-content;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.contactcontainer {
    position: relative;
    width: 100%;
    height: 100vh;
}

.contactgradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #1572D3, #7e97b3);
}

.contactcontent {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
.our-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.our-box {
    width: 25%;
    /* Adjust as needed */
    margin: 10px;
    padding: 30px 20px;
    background-color: #f0f0f000;
    display: flex;
    align-items: center; /* Align items vertically center */
}

.our-icon {
    margin-right: 10px; /* Adjust as needed */
    font-size: 50px;
}

.our-content {
    flex-grow: 1;
    text-align: center;
}

.our-content h2 {
    margin-top: 0;
    color: #101010;
    margin-bottom: 0px;
}

.our-content p {
    margin-top: 0;
    margin-bottom: 0;
    color: #484848;
}

.text-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-wrap h3{
    font-size: 16px;
    color: #1571d3;
    margin-bottom: 0;

}
.text-wrap h1{
    text-align: center;
    margin-top: 0;
}
.text-wrap p {
    font-size: 14px;
    color: #484848;
}
.contact-main{
    background-color: #f7f7f7;
    width: 100%;
    height: 500px;
}