.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.logo img {
    height: 40px;
    /* Adjust the height as needed */
}

.links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.auth a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}