.testimonials-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.testimonial-card {
    width: 70%;
    height: 350px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.testimonial-content {
    padding-bottom: 20px;
    transition: opacity 0.5s;
    /* Add transition for opacity */
}

.testimonial-comment {
    font-size: 18px;
    color: #333;
    padding: 0 20px;
}

.testimonial-name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.testimonial-job {
    font-size: 14px;
    color: #666;
}

.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #ffc107;
}

.star-filled {
    color: #ffc107;
}

.testimonial-buttons {
    display: flex;
    align-items: center;
}

.prev-button,
.next-button {
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 3px 3px 4px rgba(36, 36, 36, 0.382);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #ffffff;
    color: #000000;
    margin: 0 -20px;
    transition: background-color 0.3s ease;
}
.next-button{
    box-shadow: -3px 3px 4px rgba(36, 36, 36, 0.382);
}

.prev-button:hover,
.next-button:hover {
    background-color: #efefef;
}

/* Animation */
.animate {
    animation: fadeIn 1s;
}
.widthcen{
    width: 100%;
    display: flex;
    justify-content: center;

}
.picture{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #007bff;
}
.testimonial-title{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    color: #000000;
}
.testimonial-subtitle {
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
    color: #1571d3;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}